<%= form_for [:account, @page], :html => {:class => "page-form form-stacked"} do |f| %>
  <h2>Create A New Page</h2><br/>
  
  <%= render 'shared/error_messages', :target => @page %>
  
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :class => "span8" %>
  </p>
  
  <p>
    <% if @page.text? %>
      <%= link_to 'Text', '#', :class => 'text-link active' %> or <%= link_to 'URL', '#', :class => 'url-link' %><br/>
    <% else %>
      <%= link_to 'Text', '#', :class => 'text-link' %> or <%= link_to 'URL', '#', :class => 'url-link active' %><br/>
    <% end %>
    <div id="url_container" style="display: none;">
      <%= f.text_field :url, :placeholder => 'http://', :class => "span8" %>
    </div>
    <div id="text_container">
      <%= f.text_area :text, :class => "span8" %>
    </div>
    <p>
      <%= f.check_box :exclusive, { :class => 'tag-checkbox' }, true, nil %>
      <%= link_to 'Exclusive page', '#', :class => 'tag tag-link' %>
    </p>
  </p>
  
  <div class="form-actions">
    <% if @page.new_record? %>
      <%= submit_tag "Submit", :class => "btn btn-primary", :disable_with => "Submitting..." %> &nbsp; <%= link_to "Cancel", account_pages_path, :class => "btn" %>
    <% else %>
      <%= link_to "&larr; Back to All Pages".html_safe, account_pages_path, :class => 'btn pull-right' %>
      <%= submit_tag "Save Changes", :class => "btn btn-primary", :disable_with => "Saving..." %> &nbsp; <%= link_to "Cancel", account_pages_path, :class => "btn" %>
    <% end %>
  </div>
<% end %>

<% content_for :javascript_footer do %>
  $('#page_text').wysihtml5({
    autoLink: false,
    "html": true,
    parserRules: {
      tags: {
	"b":  {},
	"i":  {},
	"br": {},
	"ol": {},
	"ul": {},
	"li": {},
	"h1": {},
	"h2": {},
	"blockquote": {},
	"u": 1,
	"img": {
	  "check_attributes": {
	    "width": "numbers",
	    "alt": "alt",
	    "src": "url",
	    "height": "numbers"
	  }
	},
	"a":  {
	  set_attributes: {
	    target: "_blank",
	    rel:    "nofollow"
	  },
	  check_attributes: {
	    href:   "url" // important to avoid XSS
	  }
	},
	"iframe": {
	  "check_attributes": {
	    "width": "numbers",
	    "frameborder": "numbers",
	    "src": "url",
	    "height": "numbers"
	  }
	}
      }
    }
  });
<% end %>

